html,body
{
    height: 100%;
    margin: 0px;
}
.container-fluid .row .leftside
{
    height: 100vh;
    background-color: #cb3b3b;
}
.container-fluid .row .center
{
    height:100vh;
    background-color: white;
}

.container-fluid .row .rightside
{
    height: 100vh;
    background-color: #cb3b3b;
}

.container-fluid .row .center .form1
{
    margin: 8%;
    padding: 40px;
    background-color:#e0c45c;
    border-radius: 25px;
    box-shadow: 2px 2px 5px 5px black;
}
.container-fluid .row .center .form1 input
{
    width: 100%;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 2px solid white;
    display: block;
    /* border-color: crimson; */
}
.container-fluid .row .center .form1 input:focus
{
    outline: 0;
    border-color: rgb(116, 102, 102);
}
.container-fluid .row .center .form1 .Button input
{
    background-color:#cb3b3b ;
    color: white;
    /* position: relative; */
}
.container-fluid .row .center .form1 .field
{
    margin-bottom: 30px;
    position: relative;
}
.container-fluid .row .center .form1 .field i
{
    position: absolute;
    right: 2%;
    top: 20px;
    visibility: hidden;
}
.container-fluid .row .center .form1 .field i.fa-check-circle
{
    color: #2ecc71;
    visibility: hidden;
}
.container-fluid .row .center .form1 .field i.fa-exclamation-circle
{
    color: crimson;
    visibility: hidden;
}
.container-fluid .row .center .form1 .field small
{
    visibility: hidden;
    position: absolute;
    /* bottom: 0; */
    color: red;
    left: 0; 
}
